body {
  font-family: Segoe UI, Segoe WP, Arial, Sans-Serif;
  background:#062c80;
  margin: 150px 150px;
  width: 850px;
  box-shadow: 1px 4px 10px;
  padding:25px;
  border-radius: 10px;
  height: 810px;

}
#green {
  position: relative;
  right: -350px;
  top: -37px;
}

h1 {
  color: #fcfefe;
  font-size: 30px;
  line-height: 50px;
  margin: 0;
}
ul {
  margin: 0 0 30px;
  padding: 0;
}
li {
  color: #fcfefe;
  font-size: 25px;
  height: 20px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 3px solid #fcfefe;
  border-radius: 10px;
  padding: 15px;
  margin: 15px auto;
  max-width: 400;
  background: #0060ca;
}

.sun-icon {
  color: #ffc93c;
  font-size: 75px;
}
.temperature {
  font-size: 70px;
  font-weight: 400;
  color: #fcfefe;
}
.units {
  position: relative;
  top: -25px;
  right: -65px;
  color: #fcfefe;
}
.two {
  color: #fcfefe;
}
#description {
  position: relative;
  bottom: -25px;
  font-size: 30px;
  color: #fcfefe;
}
.borders {
  border: 3px solid #fcfefe;
  border-radius: 10px;
  display: block;
  height: 250px;
  background: #0060ca;
}

 .wednesday {
  position: relative;
  bottom: -48px;
  right: -30px;
  color: #fcfefe;
  font-size: 25px;
}
 .thursday {
  position: relative;
  right: -115px;
  top: -147px;
}
 .friday {
  position: relative;
  right: -133px;
  top: -148px;
}
 .saturday {
  position: relative;
  right: -100px;
  top: -148px;
}
.sunday {
  position: relative;
  right: -135px;
  top: -148px;
}
 .monday {
  position: relative;
  right: -135px;
  top: -144px;
}
.class-sun {
  color: yellow;
  position: relative;
  right:-18px;
}
.class-showers {
position:relative;
right:-13px;
bottom:-3px;

.class-cloud {
  position:relative;
  right:-18px;
  bottom:-3px;
}
.class-storm {
  position: relative;
  right: -19px;
  bottom:-3px;
}
.predict {
  position:relative;
  right:-18px;

}
.forcast {
  position:relative;
  right:-12px;
  bottom:-4px;
}
.estimate {
  position: relative;
right:-20px;
bottom:-4px;

}
.footer {
  position:relative;
  right:360px;
  top:-225px;
}